body {
    margin: 0;
    padding: 0;
}

#content {
    height: 510px;
    width: 300px;
    border: solid darkslategray 2px;
    user-select: none;
    margin-left: 20px;
    margin-top: 20px;
}

#display {
    height: 70px;
    width: 294px;
    border: solid darkslategray 2px;
}

#table td {
    border: 1px solid #dddddd;
    /* padding: 5px; */
    border: solid red 2px;
    text-align: center;
    height: 50px;
    width: 50px;
}

table {
    border-spacing: 3px;
}

#cancel {
    width: 128px;
    padding-left: 50px;
}


/* #id1 {
    margin: 5px auto;
    border: solid red 2px;
} */

input {
    height: 65px;
    width: 260px;
    color: transparent;
    text-shadow: 0 0 0 black;
}